.intro {
  padding-top: 50px;
}

.intro__image-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  padding-top: 41px;

  overflow: hidden;
  background-color: $photo-background;
  border-radius: 6px;
  border-right: 1px solid $light-stroke-color;
  border-bottom: 1px solid $light-stroke-color;
  backdrop-filter: blur(3px);
}

.intro__glare {
  position: absolute;
  z-index: -1;
  right: -115px;
  top: 0;

  pointer-events: none;
}

.intro__glare ellipse {
  fill: $light-glare-fill;
}

.intro__links-list {
  display: flex;
  gap: 10px;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 10px;

  list-style: none;
}

.intro__title {
  margin-top: 0;

  font-size: 32px;
  text-transform: uppercase;
}

.intro__button {
  width: 100%;
  padding: 10px 0;
  margin-top: 16px;
}