$dark-switch-background: rgba(255, 255, 255, 0.2);

$dark-font-color: #D0CFE2;

$dark-title-color: #D9D9D9;

$dark-blur-color1: rgba(75, 225, 189, 0.3);
$dark-blur-color2: rgba(59, 204, 152, 0.5);

$dark-main-background: #05031F;
$dark-content-background: #12102A;

$dark-accent-background: rgba(255, 255, 255, 0.2);