$light-main-background: #E7E7E7;

$light-buttonFont-color: #FFFFFF;
$light-altButton-color: #414141;

$light-switch-background: rgba(0, 0, 0, 0.1);

$light-content-background: #DFDFDF;

$light-stroke-color: #FFFFFF;

$light-dull-text: #929292;
$light-main-text: #646464;

$light-glare-fill: #3BCC7C;