.expander {
  overflow: hidden;
}

.expander__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  padding-bottom: 5px;

  font-family: "Anonymous Pro";
  font-size: 20px;
  line-height: 27px;
  color: $light-title-color;
  
  cursor: pointer;
  background: none;
  border: none;
  border-bottom: 1px solid $light-main-text;
}

.expander__svg {
  align-self: flex-start;

  &--opened {
    display: none;
  }
}

.expander__content {
  height: 0;

  transition: height .3s;
}

.expander__checkbox:checked ~ .expander__content {
  height: 70px;
}

.expander__checkbox:checked ~ .expander__button {
  .expander__svg--opened {
    display: block;
  }

  .expander__svg--closed {
    display: none;
  }
}