.feedback-form .container {
  padding-top: 40px;
  padding-bottom: 35px;

  background-color: $light-content-background;
  border-radius: 0 0 6px 6px;
}

.feedback-form__form {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  gap: 24px;
}

.feedback-form-input-wrapper {
  margin: 0;
}

.feedback-form__input {
  width: 100%;
  padding: 8px;

  background: none;
  border: none;
  border-bottom: 1px solid $light-main-text;
}

.feedback-form__input::placeholder,
.feedback-form__input {
  font-family: "Inter";
  font-size: 16px;

  color: $light-dull-text;
}

.feedback-form__button {
  margin-top: 15px;
  padding: 10px;
}

.feedback-form__consent {
  margin-top: 22px;

  font-size: 14px;
  line-height: 21px;
  color: $light-dull-text;
}