@font-face {
  font-family: "AnonymousPro"; 
  src: url("anonymousPro.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400; 
}

@font-face {
  font-family: "Inter"; 
  src: url("InterRegular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400; 
}

@font-face {
  font-family: "Inter"; 
  src: url("InterMedium.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 500; 
}
