.main-header {
  padding-top: 20px;
}

.main-header__logo {
  width: 150px;
  height: 35px;
}

.main-header__logo svg {
  width: 100%;
  height: 100%;
}

.main-header__content-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;  
  
  border-bottom: 1px solid $light-main-text;

  overflow: visible;
}

.main-header__glare {
  display: none;
}

.main-header__navigation {
  display: none;

  .main-header__nav-glare {
    display: none;
  }

  @media (max-width: 940px) {
    &--opened {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 1;

      overflow: scroll;

      display: block;
      width: 100vw;  
      min-width: 320px;
      height: 100vh;

      text-decoration: none;

      background-color: $light-main-background;

      .main-header__navigation-list {
        display: flex;
        flex-direction: column;
        gap: 70px;
        padding: 0 90px;
        margin: 0 auto;
        margin-top: 170px;

        list-style: none;
        
        @media (min-width: 600px) {
          width: 350px;
          margin-top: 150px;
          padding: 0 40px;
        }
      }

      .main-header__navigation-link {
        position: relative;
        z-index: 2;

        font-size: 40px;
        text-decoration: none;
        line-height: 130%;
        color: $light-title-color;

        @media (min-width: 450px) {
          font-size: 40px;
        }

        @media (min-width: 740px) {
          font-size: 50px;
        }
      }

      .main-header__nav-glare {
        position: absolute;

        right: 0;
        top: 0;

        display: block;

        &--2 {
          left: 0;
          right: auto;
          top: auto;
          bottom: -220px;
        }
      }
    }
  }
}

.main-header__burger {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: center;
  width: 40px;
  height: 32px;
  gap: 4px;
  padding: 0;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  background-color: transparent;
  border: none;
  cursor: pointer;

  span {
    display: block;
    width: 100%;
    height: 4px;  

    border-radius: 2px;
    background-color: $light-main-text;

    transition: transform 0.3s;
  }

  &--opened { 
    position: fixed;
    top: 20px;
    right: 20px;
    
    span {
      position: absolute;
      top: 14px;

      @media (min-width: 500px) {
        top: 14px;
      }
    }

    span:nth-child(1) {
      transform: rotate(35deg);
    }

    span:nth-child(2) {
      display: none;
    }

    span:nth-child(3) {
      transform: rotate(-35deg);
    }
  }
}

@media (min-width: 744px) {
  .main-header {
    padding-top: 39px;
  }

  .main-header__content-wrapper {
    padding-bottom: 8px;
  }
}

@media (min-width: 941px) {
  .main-header {
    padding-top: 21px;
  }
  .main-header__content-wrapper {
    align-items: center;
  }

  .main-header__navigation {
    display: block;
  }

  .main-header__logo {
    width: 163px;
    height: 35px;
  }
  
  .main-header__navigation-list {
    display: flex;
    gap: 15px;
    margin: 0;

    list-style: none;
  }

  .main-header__navigation-item {
    min-width: 90px;
  }

  .main-header__navigation-link {
    text-decoration: none;
    color: $light-main-text;
    font-size: 18px;
  }

  .main-header__burger {
    display: none;
  }
}

@media (min-width: 1024px) {
  .main-header {
    padding-top: 0;
  }

  .main-header__content-wrapper {
    padding-top: 31px;
  }

  .main-header__glare {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 55px;

    display: block;
  
    pointer-events: none;
  }

  .main-header__glare svg {
    width: 80%;
    height: auto;
  }
}

@media (min-width: 1440px) {
  .main-header__glare {
    left: 10%;
  }
  
  .main-header__navigation-list {
    gap: 20px;
  }
}

@media (min-width: 1600px) {
  .main-header__logo {
    width: 180px;
    height: 50px;
  }

  .main-header__content-wrapper {
    padding-top: 37px;
  }

  .main-header__navigation-list {
    gap: 40px;
  }

  .main-header__navigation-link {
    font-size: 20px;
  }

  .main-header__glare {
    left: 12%;
  }

  .main-header__glare svg {
    width: 100%;
  }
}