@import "styles/variables/index.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Inter";
}

body {
  padding: 0;
  margin: 0;

  color: $light-main-text;

  background-color: $light-main-background;
}

.container {
  width: $mobile-resolution;
  padding: 0 20px;
  margin: 0 auto;
}

.break-line {
  display: block;
}

.description-card-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;

  list-style: none;
}

.description-card-list__item {
  min-height: 122px;
  padding: 20px 10px 30px 10px;

  line-height: 24px;

  background-color: $light-content-background;
  border-radius: 6px;
}

.description-card-list__text {
  margin: 0;
}

.main-input {
  margin: 0;
}

.main-input__element {
  width: 100%;
  padding: 8px;

  background: none;
  border: none;
  border-bottom: 1px solid $light-main-text;
}

.main-input__element::placeholder,
.main-input__element {
  font-family: "Inter";
  font-size: 16px;

  color: $light-dull-text;
}