.how-help {
  margin-top: 80px;
}

.how-help__tools-text {
  position: relative;

  display: inline;
  margin-right: 4px;

  line-height: 42px;
}

.how-help__title {
  margin-bottom: 23px;
}

.how-help__tool {
  display: inline-block;
}

.how-help__tool:not(:first-of-type) {
  margin-right: 10px;
}

.how-help__list {
  margin-top: 22px;
}